extends layout

block content
  #container
    #sidebar
      p Features
      -for (var id in features)
        - var item = features[id]
          div
            a(href='/feature/#{item}') #{item}
    #wrapper
      #display
        pre
          code.gherkin_en #{feature}

