doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/idea.css')
    script(src='/javascripts/highlight.js')
    script(src='/javascripts/gherkin_en.js')
    script.
      hljs.initHighlightingOnLoad()

  body
    p Products
    ul
      - each p in all
        li
          a(href='/#{p.id}/features') #{p.name}
    block content
