doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/idea.css')
    script(src='/javascripts/highlight.js')
    script(src='/javascripts/gherkin_en.js')
    script.
      hljs.initHighlightingOnLoad()

  body
    block content
