body {
  font: 14px "Lucida Grande", "Helvetica", "Arial", sans-serif;
  padding: 0;
  margin: 0;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#main {
  padding: 50px;
}
#main:after {
  clear: both;
  display: table;
  content: "";
}
#feature-list {
  width: 300px;
  float: left;
  padding-top: 10px;
}
#feature-list ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
#feature-list strong {
  line-height: 2;
}
#feature-list li {
  line-height: 1.5;
}
.wip {
  font-size: large;
  color: #ffa500;
}
.github-ribbon {
  float: right;
}
article {
  padding-left: 300px;
}
article h1 {
  font-size: 2em;
}
